@import 'styles/variables';


.app-header {
    text-align: center;
    background-color: $color-primary;
    height: 150px;
    padding: 20px;
    color: white;

    &__logo {
        height: 80px;
    }

    &__title {
        font-size: 1.5em;
    }
}

// TODO use anyewhere?
// @keyframes App-logo-spin {
//     from { transform: rotate(0deg); }
//     to { transform: rotate(360deg); }
// }
